
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

header {
    background-image: url(/Assets-20220505T045530Z-001/Assets/Illustrations/Game/Batgame1.png);
    background-size: cover;
    height: 110vh;
}
.navbar{
    padding: 100px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #FFFFFF;
    padding-right: 40px;
    text-decoration: none;
    font-size: 40px;
}
nav a:nth-child(2){
    text-decoration: underline;
}
.texte{
    color: #FFFFFF;
    font-size: 20px;
    width: 400px;
    margin-top: 100px;
    margin-left: 200px;

}
h1{
    font-family: 'Rajdhani', sans-serif;
}
.texte-titre {
    opacity: 0;
    transform: translateX(-30px);
}
.niveau1 {
    opacity: 0;
    transform: translateX(-30px);
}
.qst {
    opacity: 0;
    transform: translateX(-30px);
}
.har {
    opacity: 0;
    transform: translateX(-30px);
}
.face {
    opacity: 0;
    transform: translateX(-30px);
}
.il {
    opacity: 0;
    transform: translateX(-30px);
}
.tim {
    opacity: 0;
    transform: translateX(-30px);
}
.jack {
    opacity: 0;
    transform: translateX(-30px);
}
.des {
    opacity: 0;
    transform: translateX(-30px);
}
.le {
    opacity: 0;
    transform: translateX(-30px);
}
.sa {
    opacity: 0;
    transform: translateX(-30px);
}
.cat {
    opacity: 0;
    transform: translateX(-30px);
}
.jon {
    opacity: 0;
    transform: translateX(-30px);
}
.ville {
    opacity: 0;
    transform: translateX(-30px);
}
.prod {
    opacity: 0;
    transform: translateX(-30px);
}
.app {
    opacity: 0;
    transform: translateX(-30px);
}
.inte {
    opacity: 0;
    transform: translateX(-30px);
}
.noir{
    opacity: 0;
    transform: translateX(-30px);
}
.val{
    transform: scale(0);
}
.val-zoom{
    transform: scale(1);
    transition: 3s;
}
.visible-game {
    opacity: 1;
    transform: translateX(0);
    transition: 3s cubic-bezier(.5,0,0,1);  
  }
.header-content{
    display: flex;
    justify-content: space-between;
}
.logo2{
    position: relative;
    margin-left: 1200px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.logo2m:nth-child(1){
    margin-bottom: 20px;
}
.logo2m:nth-child(2){
    margin-top: 20px;
}
.logo2m:nth-child(3){
    margin-top: 10px;
}
.logo2m:nth-child(4){
    margin-top: 10px;
}
.logo2m:nth-child(5){
    margin-top: 20px;
}
.logo3{
    margin-top: 200px;
    text-align: center;
}


main{
    background-color: #000000;
    color: #FFFFFF;
}
#quize1{
    margin-left: 160px;
}
#quize1 h1{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}
.quize-content{
    padding-bottom: 40px;
    font-size: 22px;
}
.quize-content h4{
    padding-bottom: 40px;
}
.quize-content p{
    background-color: grey;
    width: 36%;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px;
}
/* .quize-content input{
    width:100%;
} */

#quize2{
    margin-top: 80px;
    margin-left: 160px;
}
#quize2 h1{
    padding-bottom: 40px;
}
.chevalier {
    margin-left: 80px;
}

main button{
    width: 300px;
    height: 60px;
    background-image: linear-gradient(to right, #c4c4c4, #b9a0bc, #c1749c, #c54361, #b11313);
    margin-top: 100px;
    margin-left: 600px;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
}
.copy p{
    padding-top: 350px;
    padding-left: 300PX;
}
#footer{
    padding-top: 80px;
    padding-bottom: 50PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}
.icon-footer1 a {
    margin-right: 20px;
}
.icon-footer2{
    padding-right: 200px;
}
.icon-footer2 i{
   margin-right: 20px;
}
.in{
    margin-left: 40px;
    margin-bottom: 20px;
}
.in button{

    height: 30px;
    width: 150px;
}
