*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
}

header {
    background-image: url(/Assets-20220505T045530Z-001/Assets/Illustrations/Home/Bathome1.png);
    background-size: cover;
    height: 110vh;
}

.navbar{
    padding: 100px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #FFFFFF;
    padding-right: 40px;
    text-decoration: none;
    font-size: 40px;
}
nav a:nth-child(1){
    text-decoration: underline;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.texte{
    color: #FFFFFF;
    padding: 100px 440px;
    text-align: center;
    font-size: 18.8px;
}
.logo2{
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.btn-conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.btn-conteneur button{
    margin-right: 40px;
    height: 50px;
    width: 300px;
}
.logo3{
    margin: 100px;
    text-align: center;
}

#batman{
    color: #FFFFFF;
    background-color: #000000;
}
.batman-content{
    margin-left: 100px;
    margin-bottom: 40px;
}
.batman-content p{
    padding-top: 40px;
    font-size: 20px;
}
.batman-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

#nemesis{
    color: #FFFFFF;
    background-color: #000000;
    
}
.nemesis-content{
    margin-left: 100px;
    margin-bottom: 40px;
}
.nemesis-content{
    padding: 40px;
}
.nemesis-content p{
    padding-top: 40px;
    font-size: 20px;
}
.nemesis-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

#multimedia{
    color: #FFFFFF;
    background-color: #000000;
}
#multimedia h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
}
.multimedia-conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.adventure{
    /* width: 33%; */
    background-image: linear-gradient(to right top, #19587d, #56708f, #8089a1, #a4a6b2, #c4c4c4);
    text-align: justify;
    padding: 10px;
    height: 220px;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.none{
    display: none;
    /* margin-left: 400px; */
}
.none .action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bande-annonce{
    text-align: center;
    padding-bottom: 20px;
}

#contact{
    background-image: linear-gradient(to right top, #19587d, #56708f, #8089a1, #a4a6b2, #c4c4c4);
    height: auto;
}
#contact h2{
    padding-top: 50px;
    padding-left: 400px;
}
#contact form{
    padding-left: 400px;
}
form .ligne{
    padding-bottom: 50px;
}
form h3{
    padding-top: 30px;
    color: #FFFFFF;
}
form p{
    padding-top: 20px;
    padding-bottom: 20px;
}
form .ligne input{
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 600px;
}
form select{
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 600px;
}
select {
    color: #c4c4c4;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
}
.citation{
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.citation-item:nth-child(1){
    position: absolute;
    top: 100px;
    left: 400px;
}
.citation-item:nth-child(2){
    position: absolute;
    top: 190px;
}
.citation-item:nth-child(3){
    position: absolute;
    top: 290px;
    right: 400px;
}
.copy p{
    padding-top: 350px;
    padding-left: 300PX;
}
#footer{
    padding-top: 80px;
    padding-bottom: 50PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}
.icon-footer1 a {
    margin-right: 20px;
}
.icon-footer2{
    padding-right: 200px;
}
.icon-footer2 i{
   margin-right: 20px;
}
.in{
    margin-left: 40px;
    margin-bottom: 20px;
}
.in button{

    height: 30px;
    width: 150px;
}
.btn2{
    margin-left: 600px;
    margin-bottom: 20px;
    height: 40px;
    width: 200px;
}