*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body {
    
}


header {
    background-image: url(/Assets-20220505T045530Z-001/Assets/Illustrations/Home/Bathome1.png);
    background-size: cover;
    height: 110vh;
}


.navbar{
    padding: 100px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #FFFFFF;
    padding-right: 40px;
    text-decoration: none;
    font-size: 40px;
}
nav a:nth-child(1){
    text-decoration: underline;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.texte{
    opacity: 0;
    color: #FFFFFF;
    padding: 100px 440px;
    text-align: center;
    font-size: 18.8px;
}
.texte span{
    font-weight: bold;
    font-size: 22px;
}
.logo2{
    margin-right: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.logo2m:nth-child(1){
    margin-bottom: 20px;
}
.logo2m:nth-child(2){
    margin-top: 20px;
}
.logo2m:nth-child(3){
    margin-top: 10px;
}
.logo2m:nth-child(4){
    margin-top: 10px;
}
.logo2m:nth-child(5){
    margin-top: 20px;
}
.btn-conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.btn-conteneur button{
    margin-right: 40px;
    height: 50px;
    width: 300px;
    background-color: #ccc5c5c9;
    border: none;
    background-image: linear-gradient(to left, #b11313, #c54361, #c1749c, #b9a0bc, #c4c4c4);
    color: #FFFFFF;
}
.logo3{
    margin: 100px;
    text-align: center;
}


#batman{
    color: #FFFFFF;
    background-color: #000000;
} 
/* animation fade in */
.super{
    opacity: 0;
}
.crime{
    opacity: 0;
}
.cine {
    opacity: 0;
    transform: translateX(-30px);
}
.neme {
    opacity: 0;
    transform: translateX(-30px);
}
.multi {
    opacity: 0;
    transform: translateX(-30px);
}


.visible {
  opacity: 1;
  transform: translateX(0);
  transition: 3s cubic-bezier(.5,0,0,1);  
}
.zoom {
    transform: scale(0); 
}
.man{
    transform: scale(0); 
}
.home4 {
    transform: scale(0); 
}
.carte {
    transform: scale(0); 
}

.slider1 {
    transform: scale(0); 
}
.paul {
    transform: scale(0); 
}
.ray {
    transform: scale(0); 
}
.robert {
    transform: scale(0); 
}
.once {
    transform: scale(0); 
}
.zoom-visible {
    transform: scale(1); 
    transition: 1s;
}
.batman-content{
    margin-left: 100px;
    margin-bottom: 40px;
}
.batman-content p{
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 20px;
}
.batman-img{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}
.patt{
    display: none;
    position: absolute;
    left: 128px;
    top: 340px;
}
.patt p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}
.ball{
    display: none;
    position: absolute;
    
    top: 340px;
 } 
.ball p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}
.rob1{
    display: none;
    position: absolute;
    right: 120px;
    bottom: 60px;
}
.rob1 p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}



#nemesis{
    color: #FFFFFF;
    background-color: #000000;
    
}
.nemesis-content{
    margin-left: 100px;
    margin-bottom: 40px;
}
.nemesis-content{
    padding: 40px;
}
.nemesis-content p{
    padding-top: 40px;
    font-size: 20px;
}
.nemesis-img{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.dano{
    display: none;
    position: absolute;
    left: 140px;
    bottom: 40px;
}
.dano p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}
.ledger{
    display: none;
    position: absolute;
    left: 620px;
    bottom: 40px;
}
.ledger p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}
.potter{
    display: none;
    position: absolute;
    right: 120px;
    bottom: 40px;
}
.potter p{
    background-image: linear-gradient(to left top, #b11313, #b60032, #b20050, #a3006d, #890089);
    border-radius: 10px;
    padding: 10px;
}

#multimedia{
    color: #FFFFFF;
    background-color: #000000;
}
#multimedia h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
}
.multimedia-conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.adventure{
    /* width: 33%; */
    background-image: linear-gradient(to right top, #19587d, #56708f, #8089a1, #a4a6b2, #c4c4c4);
    text-align: justify;
    padding: 10px;
    height: 220px;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.active{
    display: inline-flex !important;
}
.none{
    display: none;
    /* margin-left: 400px; */
}
.none .action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bande-annonce{
    text-align: center;
    padding-bottom: 20px;
}

#contact{
    position: relative;
    background-image: linear-gradient(to right top, #19587d, #56708f, #8089a1, #a4a6b2, #c4c4c4);
    height: auto;
}
#contact h2{
    padding-top: 50px;
    padding-left: 400px;
}
#contact form{
    padding-left: 400px;
}
form .ligne{
    padding-bottom: 50px;
}
form h3{
    padding-top: 30px;
    color: #FFFFFF;
}
form p{
    padding-top: 20px;
    padding-bottom: 20px;
}
#erreur{
    color: red;
    font-size: 20px;
    padding-left: 200px;
}
form .ligne input{
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 600px;
}
form select{
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 600px;
}
select {
    color: #c4c4c4;
}
.in button{
    background-color: inherit;
    border-image:  linear-gradient(to left, #6961bc, #b078b9, #d999ba, #efc2c9, #fbedeb);
    border-image-slice: 1;
    width: 200px;
    height: 200px;
}
.btn2{
    margin-left: 200px;
    margin-bottom: 20px;
    border: none;
    background-image: linear-gradient(to right, #c4c4c4, #b9a0bc, #c1749c, #c54361, #b11313);
    height: 40px;
    width: 200px;
}
.confirmation{
    display: none;
    position: absolute;
    top: 40px;
    left: 400px;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
}
.citation{
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.citation-item:nth-child(1){
    position: absolute;
    top: 100px;
    left: 400px;
}
.citation-item:nth-child(2){
    position: absolute;
    top: 190px;
}
.citation-item:nth-child(3){
    position: absolute;
    top: 290px;
    right: 400px;
}
.copy p{
    padding-top: 350px;
    padding-left: 300PX;
}
#footer{
    padding-top: 80px;
    padding-bottom: 50PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}
.icon-footer1 a {
    margin-right: 20px;
}
.icon-footer2{
    padding-right: 200px;
}
.icon-footer2 i{
   margin-right: 20px;
}
.in{
    margin-left: 40px;
    margin-bottom: 20px;
}
.in button{

    height: 30px;
    width: 150px;
}
